

/* body {font-family: Arial, Helvetica, sans-serif;} */
/* * {box-sizing: border-box;} */


.contact-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
       width:50%;
    margin-left: auto;
    margin-right: auto
}

input[type=text], input[type=email], select{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit], input[type=reset] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
   animation-name: myAnimation;
  animation-duration: 4s;
}


input[type=submit]:hover {
  background-color: #45a049;
}
input[type=reset]:hover {
  background-color: #45a049;
}


@keyframes myAnimation {
  
  from {background-color: #04AA6D;}
  to {background-color: purple;}
}